*
!.gitignore
!.gitattributes
!DataSet Camilo y Daniela/
DataSet Camilo y Daniela/*
!DataSet Camilo y Daniela/entrenar_modelo_margin_3.py
!DataSet Camilo y Daniela/piloto_micro_mod.py
!DataSet Camilo y Daniela/detector_sirena_tiempo_real.py
!DataSet Camilo y Daniela/barrido_entrenamientos_margin_3.py
!DataSet Camilo y Daniela/barrido_entrenamientos_margin_3_exp002_exp006.py
!DataSet Camilo y Daniela/Clasificadores Tradicionales/
!DataSet Camilo y Daniela/Clasificadores Tradicionales/detector_micros_svm_camilo.py
!DataSet Camilo y Daniela/Clasificadores Tradicionales/entrenar_modelo_clasif_trad.py
!DataSet Camilo y Daniela/Clasificadores Tradicionales/piloto_micro_clasif_trad.py
!DataSet Camilo y Daniela/Clasificadores Tradicionales/barrido_entrenamientos_clasif_trad.py
!DataSet Camilo y Daniela/Clasificadores Tradicionales/clasif_trad_utils.py
DataSet Camilo y Daniela/HPC/README.md
DataSet Camilo y Daniela/HPC/run_barrido_clasif_trad_cpu.sbatch
DataSet Camilo y Daniela/HPC/run_barrido_margin_3_gpu.sbatch
DataSet Camilo y Daniela/HPC/train_clasif_trad_cpu.sbatch
DataSet Camilo y Daniela/HPC/train_clasif_trad_cpu_array.sbatch
DataSet Camilo y Daniela/HPC/train_margin_3_gpu.sbatch
DataSet Camilo y Daniela/HPC/train_margin_3_gpu_array.sbatch
!DataSet Camilo y Daniela/dataset/
!DataSet Camilo y Daniela/dataset/metadata/
!DataSet Camilo y Daniela/dataset/metadata/master_index.csv
!Integración Daniel+Daniela/
Integración Daniel+Daniela/*
!Integración Daniel+Daniela/API-REST_comunicacion/
!Integración Daniel+Daniela/API-REST_comunicacion/**
!Integración Daniel+Daniela/Modelos/
!Integración Daniel+Daniela/Modelos/**
!Integración Daniel+Daniela/DATA-acquisition/
!Integración Daniel+Daniela/DATA-acquisition/**
!Integración Daniel+Daniela/UI-SIRA/
!Integración Daniel+Daniela/UI-SIRA/**
!Integración Daniel+Daniela/Integración Sistema.docx
Integración Daniel+Daniela/UI-SIRA/node_modules/
Integración Daniel+Daniela/UI-SIRA/dist/
Integración Daniel+Daniela/UI-SIRA/dist-ssr/
Integración Daniel+Daniela/UI-SIRA/.vite/
Integración Daniel+Daniela/UI-SIRA/.vite-temp/
Integración Daniel+Daniela/DATA-acquisition/venv_sira/
Integración Daniel+Daniela/DATA-acquisition/__pycache__/
