*
!.gitignore
!DataSet Camilo y Daniela/
DataSet Camilo y Daniela/*
!DataSet Camilo y Daniela/entrenar_modelo_margin_3.py
!DataSet Camilo y Daniela/piloto_micro_mod.py
!DataSet Camilo y Daniela/detector_sirena_tiempo_real.py
